figure {
	padding:0;
	margin:0;
	font-family:sans-serif;
	padding:0;
	width:330px;
	display:inline-block;
	border:1px black solid;
}

figcaption {
	margin: 10px;
	font-size:.8em;
}

figure .explorable_display {

}

figure .explorable_widgets {
}

figure .figname {
	font-weight: bold;
	display: inline;
}

figure .figsource {
	margin-top:5px;
	text-align:right;
	font-size:.75em;
}


